# shared-library — copy to .env.local, .env.staging, or .env.uat and fill in values

SERVER_PORT=8083

# DB
DB_URL=jdbc:postgresql://<host>:5432/qr_table_order_management
DB_USERNAME=<db-username>
DB_PASSWORD=<db-password>

# AWS S3
AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_SECRET_KEY=<aws-secret-access-key>
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET_NAME=<s3-bucket-name>

# AWS Upload API
AWS_UPLOAD_API=http://<host>/integration/api/v1/upload
